.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2B244D;
    color: #fff;
}
.logo__icon{
    min-width: 100px;
    margin-left: 15px;
}
.logo_menu{
    display: flex;
}
h3{
    margin: 0;
}
button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 11;
}
.toggle-button{
    font-size: 10px;
}
.theme{
    display: flex;
    align-items: center;
}
