<div class="container">
    <carousel [overflowCellsLimit]="overflowCellsLimit" [arrowsOutside]="arrowsOutside" [height]="height"
        [width]="width" [cellsToShow]="cellsToShow">
        <div class="carousel-cell" *ngFor="let city of weatherInCities">
            <div class="city-weather-card">
                <span class="city-name">{{city.cityName}}</span>
                <img [src]="image(city.weather)" alt="kidon">
                <div class="current-status">
                    <span class="temperature">{{city.temperature}}°</span>
                    <br>
                    <span>{{city.weather}}</span>
                </div>
                <div class="min-max">
                    <div class="min-container">
                        <mat-icon class="min-color">arrow_drop_down</mat-icon>
                        <span>{{city.minTemp}}</span>
                        <span class="min-color">Min</span>
                    </div>
                    <div class="max-container">
                        <mat-icon class="max-color">arrow_drop_up</mat-icon>
                        <span>{{city.maxTemp}}</span>
                        <span class="max-color">Max</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!showSearchCard" class="carousel-cell">
            <div class="city-weather-card">
                <button class="add" (click)="onAdd()">+</button>
            </div>
        </div>
        <div *ngIf="showSearchCard" class="carousel-cell">
            <div class="city-weather-card search-bar">
                <input type="text" #cityName>
                <button href="" (click)="onSearch(cityName.value)">
                    <mat-icon>search</mat-icon>

                </button>
            </div>
        </div>
    </carousel>
</div>