<div class="container">
    <carousel [arrowsOutside]="arrowsOutside" [height]="height" [width]="width" [cellsToShow]="cellsToShow"
        class="zeeshan">
        <div class="carousel-cell" *ngFor="let city of weatherInCities">
            <div class="city-weather-card">
                <span class="city-name">{{city.cityName}}</span>
                <img src="../../assets/images/{{city.weather}}.png" alt="kidon">
                <div class="current-status">
                    <span class="temperature">{{city.temperature}}°</span>
                    <br>
                    <span>{{city.weather}}</span>
                </div>
                <div class="min-max">
                    <div class="min-container">
                        <mat-icon class="min-color">arrow_drop_down</mat-icon>
                        <span>{{city.minTemp}}</span>
                        <span class="min-color">Min</span>
                    </div>
                    <div class="max-container">
                        <mat-icon class="max-color">arrow_drop_up</mat-icon>
                        <span>{{city.maxTemp}}</span>
                        <span class="max-color">Max</span>
                    </div>
                </div>
            </div>
        </div>
    </carousel>
</div>