<div class="container">
    <div class="main-card">
        <div class="city-search-card">
            <h1 class="city-search">Search Cities</h1>
            <div class="search-bar">
                <input type="search">
                <button type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="city-weather-card">
                <span class="city-name">LAHORE</span>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Weather-few-clouds.svg/2048px-Weather-few-clouds.svg.png"
                    alt="">
                <div class="current-status">
                    <span class="temperature">30°</span>
                    <br>
                    <span>CLOUDS</span>
                </div>
                <div class="min-max">
                    <div class="min-container">
                        <mat-icon class="min-color">arrow_drop_down</mat-icon>
                        <span>23</span>
                        <span class="min-color">Min</span>
                    </div>
                    <div class="max-container">
                        <mat-icon class="max-color">arrow_drop_up</mat-icon>
                        <span>32</span>
                        <span class="max-color">Max</span>
                    </div>
                </div>
                <button class="add-city-button">Add City +</button>
            </div>
        </div>
        <div class="favorite-city-card">
            <h1>City of Month</h1>
            <span class="date">date</span>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Weather-clear.svg/1024px-Weather-clear.svg.png"
                alt="">
            <span class="favorite-city-temperature">27°</span>
            <span class="favorite-city-name">Rome</span>
            <button>Follow +</button>
        </div>
    </div>
</div>